body {
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
}

div {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.background {
	position: absolute;
	margin-top: 80px;
	width: 100%;
	z-index: 1
}

#fact {
	display: flex;
	justify-content: center;
    position: fixed;
	margin-top: 15%;
    text-align: center;
	width: 50%;
	font-size: 3vw;
	z-index: 2;
}

.animals {
	display: flex;
	flex-direction: row;
    justify-content: center;
	position: fixed;
    gap: 10%;
	width: 90%;
	margin-top: 30%;
	z-index: 2
}

.animal {
	width: 20.3%;
}

.animal:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 15px white);
    scale: 1.1;
    transition: .15s ease ;
}

@media only screen and (max-width: 670px) {
	.animals {
		margin-top: 180px;
	}

  h1 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 390px) {
	.animals {
		margin-top: 150px;
	}
}

@media only screen and (max-width: 300px) {
	.animals {
		margin-top: 130px;
	}
}

@media only screen and (max-width: 200px) {
	.animals {
		margin-top: 120px;
	}
}